html{
    font-size: 23px;
    text-align: justify;
    line-height: 1.5;

}
body{
	margin: 0 auto;
	position: relative;
	background-color: rgba(101, 11, 153, 0.589);
	
}

header{
	position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
	background-color: rgb(231, 225, 231);

}

.inicio{
	width: 100%;
    display: flex;
    justify-content: space-between;
	padding: 30px 10px 15px 10px;
	margin-left: 50px;

}

.navegacao{
	display: flex;
    justify-content: space-evenly;
	align-items: center; 
	margin-right: 100px;

}

a:link:hover { 
    color:#7e0a74;
    text-decoration:none;
	
}

a:link:visited{
    color:#7e0a74;
    text-decoration:none;
}

.historia{
    font-size: 98%;
    font-weight: 700;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    justify-content:space-around;
    flex-wrap: wrap;
    
    
}

.subTit{
    text-align: justify;
    width: 40%;

}	
    
img{
	border-radius: 50%;
	width: 150px; 
	height: 170px;
    
		
}    
.listaHS{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    min-width: 15vw; 
    
}
.hobbies:hover{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.series:hover{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

ul{
    text-align: left;
    justify-content: space-evenly;
    font-size: 22px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding: 0;
       
}

ol{
	text-align: left;
	justify-content: space-evenly;
	font-size: 22px;
	display: flex;
	width: 100%;
	flex-direction: row;
	
		
}

.hobbies h2{
    text-align: end;

}    
.hobbies li{
    margin-left: 20px;
    
}

li{
    width: 11vw; 
    font-size: 18px;
}
.series li{
	
    margin-right: 20px;
    flex-wrap: wrap;
}

footer{
    background-color: rgba(101, 11, 153, 0.589);
}

.rodape{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    margin-right: 50px;
}

.midias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;;
}

#logo{
	width: 20px;
	height: 20px;
}

